<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="ingreedy_input">
    <%= label_tag :ingredient_addition_natural %>
    <%= text_field_tag :ingredient_addition_natural %>
  </div>
  <div id="ingreedy_output">
    <%= label_tag :ingreedy_amount %>
    <%= text_field_tag :ingreedy_amount %>
    <br />
    <%= label_tag :ingreedy_unit %>
    <%= text_field_tag :ingreedy_unit %>
    <br />
    <%= label_tag :ingreedy_ingredient %>
    <%= text_field_tag :ingreedy_ingredient %>
    <div id='ingreedy_image'>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
